
@import url('https://fonts.googleapis.com/css?family=Cabin|Gloria+Hallelujah|Orbitron|Permanent+Marker&display=swap');


:root {
    --primary-color: #3881b3;
    --dark-color: #a8397a;
    --light-color: #cfa61f;
    --lose-color: #dc3545;
    --win-color: #28a745;
    --modal-duration: 1s;
  }

* {
    box-sizing : border-box;
    padding: 0;
    margin: 0;    
}

body {
    line-height: 1.6;
    background: whitesmoke;
    color: #333;
    font-family: 'Cabin', sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 50px;
}

.restart-btn {
    display : none;
    background: var(--light-color);
    color : #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    outline : none;
    border : none;
    margin-bottom : 1rem;
    border-radius: 5px;
    font-family: 'Gloria Hallelujah', cursive;
}

.restart-btn:hover {
    background: var(--primary-color);
    color : #fff;
}

.header {
    text-align: center;
    margin: 1rem 0;/* top bottom 1 rem */
}

.header h1 {
    margin-bottom: 1rem;
}

.score {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5rem;
    color : #fff;
    line-height: 3rem;
    column-gap: 20px;
}

.score p:first-child {
    background: var(--primary-color);
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
}
.score p:last-child {
    background: var(--dark-color);
    font-family: 'Orbitron', sans-serif;
    padding: 10px;
}

.selec {
    font-family: 'Gloria Hallelujah', cursive;
}

.choices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    text-align: center;
}

.choice:hover {
    cursor: pointer;
}

.text-win {
    color : var(--win-color);    
}

.text-lose {
    color : var(--lose-color);    
}

.choice:hover {
    color : var(--primary-color);
}
#rock{
transform: rotate(90deg);
color: var(--lose-color);
}
#paper{
color: var(--win-color);
}
#scissors{
color: var(--light-color);
}
@media (max-width: 700px){
    .choice {
        font-size: 110px;
    }
}

@media (max-width: 500px){
    .choice {
        font-size: 80px;
    }
}

